<article class="post">
    <h4>
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </h4>
    $body$
</article>
<h5/>
<div class="home_bottom">
</div>
<div class="navigation">
  $if(prevUrl)$
  <p class="previous-post">
    <span>Previous post:</span>
    <br/>
    <a href="$prevUrl$" rel="prev">Previous post name</a>
  </p>
  $endif$
  $if(nextUrl)$
  <p class="next-post">
    <span>Next post:</span>
    <br/>
    <a href="$nextUrl$">Next post name</a>
  </p>
  $endif$
</div>
